.btn-main {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  margin-left: 12px;
  // margin: 20px;

  &:hover {
    background-color: #FFC0E6;
    color: black;
  }
}

.btn-main-back {
  text-decoration: none;
  background-color: rgb(135, 133, 133);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  margin-left: 26px;



  &:hover {
    background-color: rgb(162, 158, 158);
    color: black;
  }
}

#btn-main-back {
  text-decoration: none;
  background-color: rgb(135, 133, 133);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;

  margin-right: 60px;


  &:hover {
    background-color: rgb(162, 158, 158);
    color: black;
  }
}


input {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  border: none;
}

.btn-instrument-book {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  transition: all .2s ease-in-out;
  margin-top: 60px;
  text-align: center;

  &:hover {
    transform: scale(1.03);
    background-color: #FFC0E6;
    color: black;
  }
}

.btn-instrument-delete {
  text-decoration: none;
  background-color: #a81f18;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.03);
    background-color: #c04545;
    color: black;
  }
}

.btn-instrument-edit {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  transition: all .2s ease-in-out;
  margin-bottom: -15px;

  &:hover {
    transform: scale(1.03);
    background-color: #FFC0E6;
    color: black;
  }
}

.btn-review {
  text-decoration: none;
  background-color: #FD8DD0;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.03);
    background-color: #FFC0E6;
    color: black;
  }

}
